*/ Styles for NEAArts Remake */

/*
@import url('https://fonts.googleapis.com/css?family=Oswald:300');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
*/
/* From philli.html  */
/*
@import url('https://fonts.googleapis.com/css?family=Oswald:300');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Lora');
 */
/* From index.html  */
 /*       @import url('https://fonts.googleapis.com/css?family=Oswald:300');
        @import url('https://fonts.googleapis.com/css?family=EB+Garamond');    
    
*/


            
    * {
        box-sizing: border-box;
    }
            
    body {
        max-width:1200px;
        margin:auto;
    }

    #toNEA {
            width: 100%;
            height: 100px;
             margin: 30px 40px 0px 0;
         /*   border: 1px dotted red;  */
        }

        #toNEA p {
            float: right;
            font-family:  'Oswald', sans-serif;
            font-weight:300;
            font-size: 20px;
            color:#777;
            margin-right: 20px;
            }

/* #### Magazine header  #### */

    #number, #header {
        width: 100%;
        text-align: center;
        font-family: 'Lora','EB Garamond', Georgia, serif ;      
    }

             
        #header {
            font-size: 35px;
            color: #525252;
            border-bottom: solid #888 1px;
        }  

        #number {
            font-size:22px;
            color: #666;
            margin-top: 15px;
            margin-bottom: 40px;
        }


/*  */


        h1 {

            font-family:  'EB Garamond', 'Book Antiqua', serif;
            font-size: 46px;
            font-weight:200;
            margin: 90px 0 90px 0;
            text-align: center;
            color: #535353;
        }

        h2 {
            font-family: Oswald;
            font-size: 28px;
            font-weight:300;
            margin: 20px 0 40px 0;
            text-align: left;
            color: #767676;
        }
            
    #main {
        width: 1020px;
        margin: auto;
        overflow: auto;
    /*    border: purple solid 2px; */
    }

#nav {
width: 910px;
margin: auto;
margin-top: 80px;
overflow: auto;
}

#stories {
    width: 830px;
    border-bottom: solid #888 1px;
    margin: auto;
    margin-bottom: 50px;
}

#stories h2 {
    text-align:center;
    margin-bottom: 20px;
    font-size: 36px;
}
            
        #cover {
            float:left;
            margin-top:0px;
            max-width:650px;
        }

        #cover img {
            max-width: 600px;
        }

        #about {
            float: left;
            max-width:360px;
            margin-top: 100px;
            margin-left:60px;
        }
            
        q {
            font-family: EB Garamond, Book Antiqua, serif;
            font-size: 32px;
            font-weight:200;
            line-height: 1.2;
            color: #666;

            margin-bottom:40px;
            display:block;
        }

        #read a, .links, .links a {
             
            font-family: Oswald, trebuchet MS; 
            font-size:20px; 
            color: #888;
            text-decoration: none;
        }
        #read a:hover, .links a:hover {
            text-decoration: underline;
        }

.links  {
    margin-top: 10px;
    font-size: 16px;
    
}
            
        .story {      
            width: 250px;
            float: left;
            margin-left: 40px;
        }

.story-thumb:hover {
    opacity: .8; 
}
            
        .title {
            font-family: EB Garamond, Book Antiqua, athelas;
            font-size: 30px; 
            margin: 10px 0px 0px 0px;
            color: #444;
            line-height: 1.1;
            }
            
        .subtitle {
            font-family: 'EB Garamond', Book Antiqua, athelas;
            font-size: 20px;
            margin: 10px 0 10px 0;
            }
            
        p.title a {
                text-decoration: none;
                color: #333;
            }
            
        p.title a:hover {
                text-decoration:underline;
                color: #000;
            }
        

        .mainimg, .otherimg {
            width:100%;
        }
        
        .breadcrumb {
            display: block;
            font-family: Trebuchet MS, helvetica, sans-serif;
            color: #878787;
            margin-bottom: 20px;

        }
                       
        .breadcrumb a {
            text-decoration: none;
            color: inherit;
        }
                 
        .breadcrumb a:hover {
            text-decoration:underline;
        }
               
        
        h1 {       
            margin-top: 60px;
        }
        
       h2.story-subtitle {
            text-align: center;
            margin: -80px 0 50px 0;
        }
        
        .story-main {
        width: 670px; 
        margin: auto;
        margin-top: 40px ;
            margin-bottom: 20px;
        }
        
        .story-main p {
            font-family: EB Garamond, serif;
            font-size: 24px;
            font-weight:200;
            line-height: 1.6;
            color: #666;
            margin-top: 0px;
        }
        
        #by {
        font-family: Lora, EB Garamond, Athelas, Book Antiqua, serif;
        font-size: 20px; 
        color: #555;
        text-align: center;
        border-top: 1px solid #555;
        width:60%;
        margin:auto;
        margin-bottom: 50px;  
        }
        
        .img-container {
            max-width: 950px;
            margin: auto;
            margin-top: 60px;
            
        }
        
        .caption {
            font-family: Trebuchet MS, helvetica, sans-serif;
            font-size: 14px;
            color: #878787;
            margin-top: 6px;
        }
        
            